* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 40px
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #6c757d;
    font-weight: 500;
    padding-bottom: 5px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #33B7FF;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: center;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}

.username a {
    text-decoration: none;
    color: #33B7FF;
    font-weight: 700;
    background-color: #E9F7FF;
    padding: 20px;
    border-radius: 10px;
}

.mobile-nav {
    display: none;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    flex-wrap: wrap;
    animation: 0.5s linear fadeUp;
}

.hero-content h1 {
    line-height: 45px;
    color: #343a40;
    font-size: 39px;
}

.hero-content p {
    color: #6c757d;
    font-size: 16px;
    line-height: 25px;
    padding-top: 10px;
}

.hero-content a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.hero-content button {
    border: none;
    margin-top: 30px;
    background-color: #33B7FF;
    padding: 20px;
    border-radius: 15px;
    width: 250px;
    cursor: pointer;
    color: #fff;
}

.hero-content button:hover {
    transform: translateY(-5px);
    transition: all 0.5s ease-in-out;
}

span {
    color: #33B7FF;
}

.right img {
    width: 100%;
    height: 100%;
}

.state-bar span {
    color: #000;
    font-size: 25px;
    font-weight: 600;
}

.state-bar p {
    color: #000;
    font-weight: 500;
    font-size: 14px;
}

.service-overview {
    background-color: #33B7FF;
    width: 100%;
    height: 150px;
    margin: auto;
    align-items: center;
    margin-top: 80px;
}

.service-content {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
}

.service-content h2 {
    font-size: 40px;
    font-weight: 600;
}

.our-achievements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.service-section {
    background-color: #F6F8FA;
    /* margin-top: 50px; */
}

.client-booking-dashboard {
    display: flex;
    padding: 100px 50px 50px;
    gap: 20px;
    width: 100%;
    height: 100%;
    animation: 0.5s linear fadeUp;
}

.price-section-left {
    display: flex;
    background-color: #fff;
    padding: 20px;
    height: 100%;
    flex-direction: column;
    border-radius: 20px;
    width: 53%;
}

.price {
    color: #5662F9 !important;
    font-weight: 600;
}

.section-heading-para {
    border-bottom: 2px solid #e9ecef;
    padding-bottom: 35spx;
}

.section-heading-para p {
    font-size: 15px;
    color: #6c757d;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 40px;
}

.client-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-states {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 0;
}

.service-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    position: relative;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: #e9ecef;
    border-radius: 50%;
}

.service-detail img {
    width: 35px;
    height: 35px;
}

.service-detail p {
    font-weight: 600;
    color: #495057;
    font-size: 15px;
}

.service-btn {
    background-color: #e9ecef;
    border: none;
    outline: none;
    padding: 15px;
    width: 28%;
    border-radius: 10px;
    font-weight: 600;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.service-btn i {
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-add {
    padding-top: 42px;
    color: #5662F9;
    font-size: 15px;
    font-weight: 600;
    border-top: 2px solid #e9ecef;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.item-add i {
    padding: 5px;
    border-radius: 50%;
    font-size: 18px;
}

.adding-item-booking-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    transition: transform 0.4s ease;
    z-index: 2;
    position: relative;
}

.adding-item-booking-section.move-up {
    transform: translateY(-20px);
    min-height: 500px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.booking-item-list-right {
    display: flex;
    background-color: #fff;
    max-height: 340px;
    flex-direction: column;
    border-radius: 20px;
    height: auto;
}

.added-item-head {
    display: flex;
    justify-content: center;
}

.added-item-head {
    padding: 20px;
}

.book-now {
    padding: 20px;
}

.booking-form {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}

.form-label {
    font-size: 14px;
}

.user-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-content input {
    padding: 15px;
    font-size: 14px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #e9ecef;
    width: 100%;
}

.form-email-fields {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.user-fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 220px;
}

.service-list-table {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    border-collapse: collapse;
}

table {
    padding: 13px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    height: 272px;
    overflow-y: auto;
    position: relative;
}

thead {
    position: sticky;
    top: 0;
    z-index: 10;
}

th {
    padding: 10px;
    font-weight: 600;
    background-color: #f8f9fa;
}

table th:nth-child(1) {
    width: 20px;
}

tfoot tr {
    border-top: 1px solid #eee;
}

tfoot td {
    padding: 15px;
    font-size: 1.1rem;
}

tfoot td:last-child {
    text-align: left;
}

.service-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    gap: 10px;
}

.service-list i {
    font-size: 35px;
    color: #6c757d;
}

.service-list p {
    color: #ced4da;
}

.book-now-btn {
    width: 100%;
    background-color: #5662F9;
    padding: 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.book-now-btn-disable {
    opacity: 0.7;
}

.booking-btn {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.item-error {
    padding: 20px;
    left: 8px;
    right: 0;
    position: absolute;
    bottom: 36px;
    font-size: 13px;
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.3s ease;
    transition-delay: 0.1s;
    padding: 10px;
    color: #d00000;
    z-index: 2;
}

.show {
    opacity: 1;
    transform: translateY(100%);
}

.formSubmit {
    color: green;
    opacity: 1;
    transform: translateY(100%);
    text-align: center;
}

.resetbtn {
    background-color: #e9ecef !important;
}

.quality-section {
    margin-top: 100px;
}

.qualities-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.qualities-serve {
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: #F6F8FA;
    border-radius: 10px;
}

.qualities-serve:hover {
    box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.5s ease;
}

.qualities-serve i {
    font-size: 35px;
    color: #5662F9;
}


.qualities-serve p {
    font-size: 14px;
    color: #6c757d;
    width: 170px;
}

.subscrib-section {
    background-color: #33B7FF;
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

.subscribe-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 100%;
}

.subscribe-section-head {
    display: flex;
    width: 289px;
}

.subscribe-content h2 {
    font-size: 35px;
    color: #fff;
}

.subscribe-form {
    display: inline-block;
}

.subscribe-form-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputfields {
    display: flex;
    gap: 10px;
}

.subscribe-form-fields input {
    background-color: #4BB5F9;
    padding: 15px;
    width: 250px;
    border: none;
    outline: none;
    font-size: 15px;
    color: #fff;
}

.inputfields ::placeholder {
    color: #fff;
}

.subscribe-form-fields button {
    width: 250px;
    background-color: #fff;
    padding: 15px;
    border: none;
    outline: none;
    color: #4BB5F9;
    font-size: 16px;
    font-weight: 600;
}

footer {
    background-color: #F6F8FA;
    height: 100%;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 100px;
}

.about-us {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-us p {
    color: #6c757d;
    font-weight: 600;
}

.about-laundrywala {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.others-link {
    display: flex;
    flex-direction: column;
}

.others-link ul {
    display: inline-block;
}

.others-link li {
    padding-bottom: 8px;
    list-style-type: none;
}

.others-link li a,
.contact-link a {
    text-decoration: none;
    color: #6c757d;
    font-weight: 600;
}

.others-link,
.contact-us {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-link {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-links i {
    color: #6c757d;
    font-size: 18px;
}

.others-link a:hover,
.contact-link a:hover {
    color: #4BB5F9;
    transition: all 0.5s ease;
}

.fa-instagram:hover {
    color: #240046;
    transition: all 0.5s ease;
}

.fa-facebook:hover {
    color: #5662F9;
    transition: all 0.5s ease;
}

.fa-twitter:hover {
    color: #33B7FF;
    transition: all 0.5s ease;
}

.fa-youtube:hover {
    color: #d00000;
    transition: all 0.5s ease;
}

.userService {
    height: 40px;
    /* display: inline-block; */
    vertical-align: top;
}

.service-list-body td {
    padding: 8px 12px;
    overflow: hidden;
    border-bottom: 1px solid #ced4da;
}

.service-list-table tfoot td {
    position: sticky;
    bottom: 0;
    background-color: #ffffff;
    z-index: 10;
    border-top: 2px solid #eee;
    padding: 15px;
    border-radius: 20px;
}

.remove-btn {
    background-color: #f49cbb;
    color: #000;
}


.error-hide {
    display: none;
}

@media screen and (max-width:768px) {

    .hero-content {
        margin-top: 3rem;
        gap: 30px;
        justify-content: center;
    }

    .qualities-content {
        grid-template-columns: 1fr !important;
    }

    .footer-content {
        grid-template-columns: 1fr !important;
    }

    .subscribe-content {
        flex-direction: column;
        align-items: flex-start;
        height: 250px;
    }

    .service-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .client-booking-dashboard {
        flex-direction: column;
        padding: 37px 0px 50px;
    }

    .subscribe-form-fields input {
        width: 100%;
    }

    nav {
        display: none;
    }

    .qualities-serve p {
        width: 100%;
    }

    .subscrib-section {
        height: 250px;
    }

    .subscribe-form-fields {
        gap: 20px;
    }

    .our-achievements {
        margin-top: 15px;
    }

    .price-section-left {
        width: 100%;
        padding: 14px;
    }

    .service-btn {
        font-size: 11px;
        padding: 10px;
    }

    .service-detail p {
        width: 80px;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-top: 15px;
    }

    .mobile-menus {
        position: absolute;
        top: 50px;
        background-color: #fff;
        width: 100%;
        height: 250px;
        padding-top: 20px;
        transform: translateY(-100px);
        transition: visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
        visibility: hidden;
        z-index: 1;
    }

    .mobile-menus.Navshow {
        visibility: visible;
        transform: translateY(0);
    }

    .mobile-menus ul li {
        list-style-type: none;
        padding-bottom: 19px;
    }

    .menu-icon {
        font-size: 25px;
        z-index: 99999;
        transition: all 0.4s ease-in-out;
    }

    .mobile-menus ul li>a {
        text-decoration: none;
        color: #000;
        font-size: 16px;
    }

    .username {
        margin-top: 8px;
        display: flex;
        text-align: center;
        width: 100%;
    }

    .username a {
        width: 100%;
    }

    .form-email-fields {
        width: 100%;
    }

    .user-fields {
        width: 100%;
    }
}


@media screen and (max-width: 468px) {
    .service-content h2 {
        font-size: 28px;
    }

    .state-bar span {
        font-size: 20px;
    }


    .service-detail p {
        font-size: 13px;
    }

    .price {
        font-size: 13px;
    }

    .service-detail {
        gap: 7px;
    }

    .service-btn {
        width: 33%;
    }

    .item-error {
        font-size: 13px;
        bottom: 54px;
    }

    .booking-item-list-right {
        min-height: 371px;
    }

    .book-now {
        padding: 14px;
    }

    .error-div {
        display: flex;
        margin-top: 33px;
    }

    .userService td {
        font-size: 14px;
    }

    .user-fields {
        width: 100%;
    }

    .form-email-fields {
        flex-direction: column;
        align-items: flex-start;
    }

    .service-list-table {
        height: 361px;
    }

    table {
        height: 361px;
    }

    .hero-content h1 {
        font-size: 34px;
    }

    .hero-content button {
        width: 215px;
    }

    .hero-content a {
        font-size: 14px;
    }

    .quality-section {
        margin-top: 41px;
    }

}


@media screen and (max-width:1020px) {
    .qualities-content {
        grid-template-columns: 1fr 1fr;
    }

    footer {
        height: 100%;
    }

    .footer-content {
        grid-template-columns: 1fr 1fr;
    }

    .booking-item-list-right {
        max-height: 100%;
    }

    table {
        height: 304px;
    }

    .item-error {
        bottom: 43px;
    }

    .form-email-fields {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-fields {
        width: 100%;
    }

    .form-content input {
        padding: 9px;
    }

    .booking-btn {
        margin-top: 10px;
    }

    .book-now-btn {
        padding: 10px;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}